.nav-container1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .hamburger-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1200;
  }

  .container1 {
    display: block !important;
    margin-left: 0 !important;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    min-height: 100vh;
    background-color: #0F172A;
    z-index: 1100;
    transition: left 0.3s ease;
  }

  .sidebar.active {
    left: 0;
  }

  .dashboard,
  .addItem {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-text {
    font-size: 12px;
  }

  .nav-container1{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
  } 

  .dropdown{
    position: relative;
    right: 30%;
    padding: 10px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    background-color: #111a1f;
    min-width: 160px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  }

  .nav-links.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .nav-links li a {
    padding: 12px 16px;
  }

  .kitchen-header {
    font-size: 12px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  .right-side {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 590px) {
  .container1 {
    display: block !important;
  }

  .dashboard,
  .addItem {
    margin-left: 0 !important;
    width: 100% !important;
  }
  
  .header-text {
    font-size: 8px;
  }

  .kitchen-header{
    width: 100%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .right-side {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  .kitchen-container {
    padding: 12px;
  }


  .kitchen-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .kitchen-stats {
    flex-direction: column;
  }

  .stat-box {
    flex: 1 1 100%;
    width: 100%;
  }

  .container1 {
    display: block !important;
  }

  .dashboard,
  .addItem {
    margin-left: 0 !important;
    width: 100% !important;
  }

  .addBtn button {
    width: 100%;
  }

  .header-text h1 {
    font-size: 14px;
  }

  .dropdown {
    position: relative;
  }
  
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
  }
  
  .session-name{
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 300px){
  .sidebar{
    width: 200px;
  }
}



